<!--the Ienum will expose the data -->
@model IEnumerable<Club>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Join Our Running Clubs</h1>
        <p class="lead text-muted">Welcome to our Running clubs . You can join one of our clubs just by registraing here</p>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">

            @foreach(var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src=@item.Image alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" asp-controller="Club" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">More Details</a>
                                    @if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a type="button" asp-controller="Club" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a type="button" asp-controller="Club" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>

                                    }

                                </div>
                                <small class="text-muted">@item.ClubCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
